:root {
  --success: #67c23a;
  --warning: #e6a23c;
  --primary: #409eff;
  --danger: #f56c6c;
  --primary-text: #303133;
}
html {
  --primary-hover: #53a8ff;
  --primary-active: #208eff;
  --warning-hover: #e9ab4f;
  --warning-active: #e39622;
  --danger-hover: #f67b7b;
  --danger-active: #f34b4b;
}