@import 'var.styl';
@import 'mixin.styl';
  
//原始变量-css调用
:root{
  --success:success;
  --warning:warning;
  --primary:primary;
  --danger:danger;
  --default:#f7f4f9;
  --higligt:higligt;
  
  /*文字*/
  --primary-text:#303133;
  --ggs:1;
}
//计算变量-stylus计算后调用
html{
  //FIX:编译后属性名变量不能传入问题
  colorGroup(--primary,primary);
  colorGroup(--success,success);
  colorGroup(--warning,warning);
  colorGroup(--danger,danger);
}

hr{
  border-bottom-color: var(--default);
  border-top: none;
  height 0;
}
.sense-ui{
  padding:16px;
  margin: 0;
}
s-button{line-height:1}
s-progress{display: flex;
  align-items: center;}
//scrollbar style
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: var(--higligt);
  border-radius: 8px 0 0 8px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  /* or add it to the track */
}