@import 'var.styl';
  
//原始变量-css调用
:root{
  --success:success;
  --warning:warning;
  --primary:primary;
  --danger:danger;
  --default:#ddd;
  --higligt:higligt;
  
  /*文字*/
  --primary-text:#303133;
  --ggs:1;
}

//stylus:插值法 生成一组颜色值方法 
colorGroup(key,value){
  {key}: value;
  {key}-hover: lighten(value, 10%);
  {key}-active: darken(value, 10%);
  {key}-opacity:rgba(primary, 0.1);
}

//计算变量-stylus计算后调用
html{
  //FIX:编译后属性名变量不能传入问题
  colorGroup(--primary,primary);
  colorGroup(--success,success);
  colorGroup(--warning,warning);
  colorGroup(--danger,danger);
}

hr{
  border-bottom-color: var(--default);
  border-top: none;
  height 0;
}
.sense-ui{
  padding:16px;
  margin: 0;
}
s-button{line-height:1}

//scrollbar style
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: var(--higligt);
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  /* or add it to the track */
}