@import 'var.styl'
//原始变量-css调用
:root{
  --success:success;
  --warning:warning;
  --primary:primary;
  --danger:danger;

  --default:#ddd;
  
  /*文字*/
  --primary-text:#303133;
  --ggs:1;
}

//计算变量-stylus计算后调用
html{
  --primary-hover: lighten(primary, 10%);
  --primary-active: darken(primary, 10%);
  --primary-opacity:rgba(primary, 0.1);
  
  --success-hover: lighten(success, 10%);
  --success-active: darken(success, 10%);
  --success-opacity:rgba(success, 0.1);
  
  --warning-hover: lighten(warning, 10%);
  --warning-active: darken(warning, 10%);
  --warning-opacity:rgba(warning, 0.1);
    
  --danger-hover: lighten(danger, 10%);
  --danger-active: darken(danger, 10%);
  --danger-opacity:rgba(danger, 0.1);
}

hr{
  border-bottom-color: var(--default);
  border-top: none;
  height 0;
}
.sense-ui{padding:0;}
s-button{line-height:1}