@import 'icon.styl';
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--primary-text);
  
}
body.index{
  background: var(--default);
  position: relative;
  
}
@keyframes flotage {
  0% {
    left:0;
    top:0;
  }
  50%{
    left:-1em;
    top:-2em;
  }
  100% {
    left:0;
    top:0;
  }
}
.bg-cover{
  width :100%;
  height :100%;
  position: absolute;
  overflow: hidden;
  z-index :-1;
  .box-border,&:before,&:after{
    width: 30em;
    height :30em;
    position: absolute;
    border-radius: 6em;
  }
  &:before,&:after{
    content: "";
  }
  &:before{
    left:0;
    top: 0;
    transform: rotate(-18deg) translate(-12em,-4em);
    background: var(--primary-opacity,rgba(216,232,246,.6));
    opacity :.8;
    animation: flotage 15s linear infinite;
  }
  &:after{
    right :0;
    bottom: 0;
    transform: rotate(-10deg) translate(12em,21em);
    //background: var(--success-hover,rgba(60,215,175,.5));
    background: var(--success-hover,rgba(60,215,175,.5));
    opacity :.4;
  }
  .box-border{
    right:0;
    top: 0;
    border:1px solid var(--primary-opacity,rgba(210,215,230,.3));
    transform: rotate(-18deg) translate(10em,-13em);
    &::before{
      content: '';
      width: 4em;
      height: 4em;
      border-radius: 1.6em;
      position: absolute;
      left :-1.4em;
      bottom: 2em;
      background: var(--success-hover,rgba(60,215,175,.6));
      opacity :.6;
    }
  }
}

header{
  display: flex;
  align-items: center;
  /* box-shadow: 0 2px 8px #f0f1f2; */
  justify-content: space-between
  padding: 15px;
  background: #fff;
  .logo{
    display: flex;
    align-items: center;
    padding-left: 12px;
    a{line-height: .7;text-decoration: none;}
  }
  p{
    color: #ccc;
    flex: 1;
    font-size: 14px;
    text-align: right;
  }
  h1{
    margin: 0;
    font-size: 1.4em;
    padding-left: 8px;
    font-weight: normal;
    background-image:-webkit-linear-gradient(bottom,#0066ff,#6633ff,#9900ff); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
  }
  .repo-link{
    padding: 0 10px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      color: currentColor;
      text-decoration: none;
      line-height: .7
    }
  }
  .icon-theme-colors{
    background-image:-webkit-linear-gradient(bottom,#0066ff,#6633ff,#9900ff); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
    margin-left: 10px;
    font-size: 19px;
    cursor: pointer;
  }
}
#theme-layer{
  position: absolute;
  right :6px;
  top: 60px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  display: none;
  z-index: 999;
  &.show{
    display: block;
  }
  ul{
    list-style none;
    margin: 0;
    padding: 0;
    li{
      line-height: 1.8;
      padding: 4px 16px;
      cursor: pointer;
      &:hover{
        color: var(--higligt)
        background: var(--default);
      }
    }
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch{
    border:none;
  }
  input[type="color"]{
    border:1px dashed #ccc;
    height: 14px;
    padding: 2px;
    border-radius:2px;
    background: #fff;
    overflow: hidden;
  }
}
main{
  display: flex;
  height: calc(100% - 60px);
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 1;
    box-shadow: 0 4px 4px rgba(200,200,240,.2);
  }
}

iframe{
  flex:1;
  box-sizing: border-box;
  height: 100%;
}
.hide{display: none;}
.switch-menu{
  display: none;
}

s-card{
  h3{
    position: relative;
    font-size: 24px;
    line-height: 1.2;
    vertical-align: middle;
    //background: #eee;
  }
}
.sense-ui{
  box-sizing: border-box;
  h1{
    font-weight: normal;
    font-size: 28px;
  }
  h2{
    font-size: 16px;
    opacity :.6;
  } 
}

section{
  padding: 30px 0;
  max-width :1000px;
  width :100%;
  margin: 0 auto;
  color: #636e95;
}

.slogan{
  text-align: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  h2{
    font-size: 80px;
    font-weight: normal;
    background-image:-webkit-linear-gradient(40deg,#0066ff,#6633ff,#9900ff); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
  }
}
    
.items{
  display: flex;
  justify-content: space-between;
  dl{
    flex:1;
    line-height: 1.8;
    dt{font-weight: bold}
    dd{margin-left: 0;padding-top: 10px;font-size: 14px;}
  }
  dl:nth-child(2),
  dl:nth-child(3){
    padding: 0 30px;
  }
}
aside{
  width: 260px;
  height: 100%;
  position: relative;
  background: #f8fbfd;
  padding-top: 10px;
  box-sizing: border-box;
  &::after{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-right: 1px solid #f7f4f7;
    right: 0;
    top: 0;
  }
  h3{
    padding-left: 30px;
    position: relative;
    font-size: 1em;
    &:::before{
      content: '';
      width: 80%;
      position: absolute;
      left: 10%;
      bottom: -10px;
      border-bottom:1px solid #eee;
    }
  }
  ul{
    list-style: none;
    padding-left: 0px;
    li{
      a{
        display:block;
        text-decoration: none;
        color: rgba(0,0,0,.85);
        padding:10px 10px 13px 30px;
        font-size: 14px;
        &:hover{color: blueviolet;}
        &:focus,
        &:active{
          color: blueviolet;
          background:#fff;
          box-shadow: 0 0 4px rgba(200,200,240,.4);
          border-right: 3px solid blueviolet;
        }
      }
      em{
        color: #999;
        font-style: normal;
        font-size: .8em;
      }
    }
  }
}
footer{
  text-align: center;
  padding: 16px;
  opacity :.4;
}
@media screen and (max-width: 1000px) {
  .items{
    padding:0 2em;
  }
}

@media screen and (max-width: 768px) {
  header p{display: none;}
  .side-menu{position: absolute;width: 160px;display: none;}
  .show{display: block;}
  .switch-menu{display: inline-block;}
  .items{
    flex-direction: column;
    dl:nth-child(2),
    dl:nth-child(3){
      padding: 0;
    }
  }
  .slogan{
    padding: 2em;
    h2{
      font-size: 4em;
    }
  }
  .bg-cover{
    font-size: 12px;
  }
}
@media screen and (max-width: 720px) {
  .bg-cover{
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .bg-cover{
    font-size: 8px;
  }
}
body{
  // background: url('/images/user.jpg');
  // background-position: center top;
  // background-size: cover;
}
.options{
  
  position: absolute;
  right :0;
  top :0;
  width :200px;
  padding:15px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  border-radius:0 0  0 10px;
  &::before{
    
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // filter: blur(30px);
    // background-image: url('/images/bg.jpg')
    // background-attachment: fixed;
    // background-position: center top;
    // background-size: cover;
    z-index: 0;
    //opacity: .7;
    background: rgba(255,255,255,.5);
    backdrop-filter: var(--backdrop-value);
  }
  .option-content{
    position: relative;
    z-index :1;
  }
  
  ul{
    list-style :none;
    main:0;
    padding: 0;
  }
}