@import 'icon.styl';

body{
  color: var(--primary-text)
}
s-card{
  h3{
    position: relative;
    font-size: 24px;
    line-height: 1.2;
    vertical-align: middle;
    //background: #eee;
  }
}

//scrollbar style
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: $--scrollbar-color;
  border-radius: 5px 0 0 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
  /* or add it to the track */
}

