@import 'icon.styl';

body{
  color: var(--primary-text)
}
s-card{
  h3{
    position: relative;
    font-size: 24px;
    line-height: 1.2;
    vertical-align: middle;
    //background: #eee;
  }
}
h1{
  color:#c00
}


