body{
--main-color:blue;
--primary-hover: lighten(blue, 10%)
}
h1{
color:var(--main-color);
}

p{
	&::after{
		content:'';
		display:block;
		width:100%;
		border-top:1px solid gray;
	}
	span{
		color:red;
	}
		
}
.sense-ui{
  background: #ccc;
}