@import 'var.styl'
//css调用
:root{
  --success:success;
  --warning:warning;
  --primary:primary
  --danger:danger;
  
  //文字
  --primary-text:#303133;
}
html{
  --primary-hover: lighten(primary, 10%)
  --primary-active: darken(primary, 10%)
  
  --success-hover: lighten(success, 10%)
  --success-active: darken(success, 10%)
  
  --warning-hover: lighten(warning, 10%)
  --warning-active: darken(warning, 10%)
    
  --danger-hover: lighten(danger, 10%)
  --danger-active: darken(danger, 10%)
  
}
