:root{
  --primary-opacity: rgba(223, 87, 46, 0.5);
}
html{
  height: 100%;
}
@media screen and (max-width: 768px) {
  html{
    font-size: 16px;
  }
}
.text-primary{
  color: var(--primary);
}
body{
  background-color: #fceee3;
  background:
    linear-gradient(120deg, transparent -100px,#fff 100vh),
    linear-gradient(25deg, #f9edd2be,#ffd1dece),
    radial-gradient(30% 200px at 100px 50px, rgba(249,167,176,0.5),transparent);
    margin: 0;
    padding: 12px;
    position: relative;
}
h1{
  text-align: center;
  background: linear-gradient(5deg, rgb(113,28,24) 0%,  rgb(113,28,24) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: normal;
  color: transparent;
  /* text-shadow: 0px -2px 0px rgba(255, 119, 29, 0.8); */
}
em{
  font-style: normal;
}
.redpack{
  background-color: rgb(250, 253, 255,0.7);
  padding: 8px;
  border-radius: 5px;
  h2{
    font-weight: normal;
    margin: 0;
    padding-left: .5rem;
    color:var(--primary-opacity);
    font-size: .9rem;
  }
  a{
    display: inline-block;
    padding: 0 .5rem;
    text-decoration: none;
    color: #aa3b28;
    span{
      font-size: 14px;
      color: #fff;
      display: inline-block;
      text-align: center;
      flex: 1;
      padding-right: 1rem;
    }
  }
}
.col{
  display: flex;
  justify-content: space-between;
}
.col>div{
  width: calc(50% - 0.5rem);
  text-align: center;
  padding: .5rem;
  border-radius: 6px;
  a,img{
    z-index: 1;
  }
  img{
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .red-wrap{
    outline: 1px solid #df572e;
    border-radius: 6px;
    padding: .1rem;
    position: relative;
    overflow: hidden;
    background-color: #df572e;
    font-size: 12px;
    color: #fff;
    height: 3rem;
    background: linear-gradient(5deg, #bb3227 0%,  #ea5321 100%);
    a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .5rem .6rem;
      height: 3rem;
      box-sizing: border-box;
      span:has(small){
        padding-top: .2rem;
      }
      small{
        display: block;
        transform: scale(0.7);
        opacity: 0.6;
      }
    }
    a::after{
      content: " ";
      display: block;
      width: 9rem;
      height: 9rem;
      border-radius: 5rem;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.99);
      /* background: linear-gradient(15deg, #df572e 0%, #df812e 40%, #df572e 100%); */
      right: -4rem;
      z-index: 0;
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.43);
    }
  }
}
.col>div a em{
  z-index: 9;
  display: inline-block;
  background-color: #fff;
  background: linear-gradient(5deg, #ffaf8a 0%, #fdccab 40%, #fae7d6 100%);
  border-radius: 50px;
  padding: .4rem .6rem;
}
.pattern {
  position : relative ;
  background-color : #3bb78f ;
  background-image : linear-gradient( 315 deg, #3bb78f 0% , #0bab64 74% );
}
  
.pattern:before {
  content : "" ;
  position : absolute ;
  bottom : 0 ;
  left : 0 ;
  width : 100% ;
  height : 215px ;
  background : url('wave.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.quan{
  background-color: rgb(250, 253, 255,0.7);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #f8e041;
  margin-bottom: 1rem;
  a{
    display: flex;
    align-items: center;
    padding: .5rem .8rem;
    text-decoration: none;
    color: #aa3b28;
    span{
      padding-left: 1rem;
    }
  }
  p a{
    color: #fff;
  }
  dt{
    width: 70px;
    color: var(--primary);
    em{
      font-size: 32px;
      
    }
  }
  dd{
    margin-left: 0;
    padding:0 .4rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      display: block;
      
    }
    p{
      margin: 0;
    }
    em{
      display: block;
      text-align: center;
      font-size: 12px;
      padding-bottom: .5rem;
    }
  }
}

 .dialog-success-tip{
  top: 35%;
 }

 .btn-primary{
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  text-decoration: none;
 }
 .title2{
  font-size: 18px;
 }
 .tip-content{
  font-size: 16px;
  line-height: 1.35;
 }
 .banner{
  
  padding: 8px;
  border-radius: 8px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .slogan{
  border: 1px solid var(--primary-opacity);
  padding: .8rem 1rem;
  position: relative;
  width: 200px;
  box-sizing: border-box;
  height: auto;
  h1{
    font-size: 18px;
    margin: 0;
    text-align: left;
  }
  .content{
    width: 100%;
    text-align: left;
    white-space: pre-line;
    text-shadow: 1px 1px 0px rgba(255, 119, 29, 0.1);
    strong{
      font-size: 24px;
    }
    
  }
  &::before,&::after{
    content: "";
    display: block;
    width: 4px;
    height: 15px;
    border-radius: 4px;
    background-color: var(--primary-opacity);
    border-radius: 5px;
    margin-bottom: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before{
    left: -2.5px;
  }
  &::after{
    right: -2.5px;
  }
  i.left,i.right{
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 4px;
    &::before,&::after{
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 5px;
      background-color: var(--primary-opacity);
      position: absolute;
    }
    &::before{
      top: -3px;
    }
    &::after{
      
      bottom: -3px;
    }
  }
  i.left{
    left: -3px;
  }
  i.right{
    right: -2px;
  }
 }